<!-- На ангуляре у нас никто раньше не писал, так что времени вникнуть не так много, поэтому запилили блок инфо на стабах -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 0;
  }

  svg {
    width: 60px;
    height: 60px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card:first-of-type {
    margin-left: 0;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .pay-item {
    width: 140px;
    height: 140px;
    border: 1px solid transparent;
  }

  .pay-item:hover {
    border-color: navy;
  }
</style>

<div class="content" role="main">
  <div class="relative">
    <input type="hidden" #selection>
    <h3 class="gray pa4 ma0 mb4 tl bg-navy white">
      <span class="bb b--light-red">Счета и карты</span>
    </h3>
    <img
      width="40"
      alt="Angular Logo"
      class="w3 absolute right-1 top-0"
      src="https://angular.io/assets/images/logos/angular/angular.svg"
    />
  </div>

  <div>
    <div class="w-60 mb4 pl4">
      <h3 class="gray fw4 mt1 mb4 pt1">Реквизиты</h3>
      <ul class="list gray ma0 pa0">
        <li class="pb2"><span class="b">Получатель:</span> Иванов Иван Иванович</li>
        <li class="pb2"><span class="b">Счёт получателя платежа:</span> 4081781097766656566</li>
        <li class="pb2"><span class="b">БИК:</span> 0777775974</li>
        <li class="pb2"><span class="b">Банк получатель:</span> ПAO «Промсвязьбанк»</li>
      </ul>
    </div>

    <div class="w-60 mb5 pl4">
      <h3 class="gray fw4 mt1 mb4 pt1">Платежи и переводы</h3>

      <div class="flex flex-wrap justify-between tc">
        <div class="b--light-gray br2 pa3 shadow-4 mr1 tc pointer pay-item">
          <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M24.73 11.3c-.4-.4-1.06-.4-1.46 0L12.3 23.09c-.66.64-.2 1.91.73 1.91H16v8.98c0 .56.46 1.02 1.04 1.02h3.85c.58 0 1.11-.46 1.11-1.02V30.5c0-.28.23-.5.52-.5h2.96c.29 0 .52.22.52.5v3.48c0 .56.53 1.02 1.1 1.02h3.86c.58 0 1.04-.46 1.04-1.02V25h2.96c.92 0 1.39-1.27.73-1.91l-10.96-11.8z" fill="currentColor"></path></svg>
          <h4 class="fw4 ma0">ЖКХ</h4>
        </div>
        <div class="b--light-gray br2 pa3 shadow-4 mr1 tc pointer pay-item">
          <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.33 16.64c-.27.53-.32 1.2-.33 2.36h24c-.01-1.16-.06-1.83-.33-2.36a3 3 0 00-1.3-1.31c-.66-.33-1.5-.33-3.17-.33H16.8c-1.68 0-2.52 0-3.16.33a3 3 0 00-1.31 1.3zM36 21H12v7.2c0 1.68 0 2.52.33 3.16a3 3 0 001.3 1.31c.65.33 1.49.33 3.17.33h14.4c1.68 0 2.52 0 3.16-.33a3 3 0 001.31-1.3c.33-.65.33-1.49.33-3.17V21zm-20 7a1 1 0 100 2h12a1 1 0 100-2H16zm-1-2a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" fill="currentColor"></path></svg>
          <h4 class="fw4 ma0">Погашение кредитов</h4>
        </div>
        <div class="b--light-gray br2 pa3 shadow-4 mr1 tc pointer pay-item">
          <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M30.36 12.33C29.72 12 28.88 12 27.2 12h-6.4c-1.68 0-2.52 0-3.16.33a3 3 0 00-1.31 1.3c-.33.65-.33 1.49-.33 3.17v14.4c0 1.68 0 2.52.33 3.16a3 3 0 001.3 1.31c.65.33 1.49.33 3.17.33h6.4c1.68 0 2.52 0 3.16-.33a3 3 0 001.31-1.3c.33-.65.33-1.49.33-3.17V16.8c0-1.68 0-2.52-.33-3.16a3 3 0 00-1.3-1.31zM18 15.5c0-.28.22-.5.5-.5h11c.28 0 .5.22.5.5v14a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-14zM26 33a2 2 0 11-4 0 2 2 0 014 0z" fill="currentColor"></path></svg>
          <h4 class="fw4 ma0">Мобильная связь</h4>
        </div>
        <div class="b--light-gray br2 pa3 shadow-4 mr1 tc pointer pay-item">
          <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.26 14.17l6.06 5.75c.12.12.12.34-.1.46-.38.22-.7.67-.7 1.2 0 .96.86 1.32 1.6 1.33 2.98-.08 2.04-4.72.14-5.66a1.6 1.6 0 00-1.71.08A1.83 1.83 0 0120.33 15h2.32c.33 0 .5.4.26.62-.19.19-.14.44.03.64.7.9.91 1.92 1 2.47l.04.24V19c.02.07.03.1.07.1.04 0 .05-.03.06-.1v-.03l.05-.25a4.8 4.8 0 011-2.45c.16-.2.2-.46.01-.65-.24-.23-.07-.62.26-.62h2.34a1.83 1.83 0 011.78 2.33c-.68-.38-1.1-.28-1.41-.16-2.7 1.03-2.7 5.74-.09 5.74.73 0 1.44-.46 1.44-1.33 0-.52-.33-.98-.7-1.2-.24-.13-.23-.34-.1-.46l6.05-5.75c.26-.24.65-.22.85.06 3.37 4.8.3 12.97-4.98 12.81a3.33 3.33 0 01-1.83-.73l-.53-.38a.56.56 0 00-.82.2c-.31.6.82 1.17 1.26 1.4.25.15.47.27.6.4.56.59.55 1.18-.12 2-.08.1-.06.27.06.33l.6.34.05-.16a1.81 1.81 0 012.28-1.14c.96.3 1.5 1.31 1.2 2.24a1.81 1.81 0 01-2.3 1.14 1.84 1.84 0 01-.86-.59l-2.1-.62a.21.21 0 01-.15-.26c.15-.55.23-1.35-.57-1.36-.69 0-1.2.7-1.5 1.3a.4.4 0 00.04.43 4.91 4.91 0 002.36 1.47c.47.14.75.66.43 1.03A6 6 0 0124.16 36c-1.85 0-3.5-.73-4.5-1.86-.33-.37-.04-.9.45-1.04 1.1-.3 2.02-.87 2.6-1.59a.4.4 0 00.03-.42c-.3-.6-.81-1.24-1.47-1.24-.8.01-.77.81-.62 1.36a.21.21 0 01-.14.26l-2.1.62.37.4c.26.28.23.71-.06.96a.73.73 0 01-1-.05l-.42-.45a.92.92 0 01-.38.07c-.57 0-1.04-.45-1.05-1 0-.18.05-.34.12-.48L13.62 29a.67.67 0 01.05-.97.73.73 0 011 .06l2.91 3.13 1.83-.95c.12-.06.15-.22.07-.33a1.58 1.58 0 01-.15-1.95c.3-.48.84-.8 1.19-1.25.13-.17.15-.4.05-.6a.56.56 0 00-.82-.2l-.53.38c-.54.4-1.15.7-1.83.73-5.28.16-8.35-8-4.98-12.82.2-.27.6-.3.85-.05z" fill="currentColor"></path></svg>
          <h4 class="fw4 ma0">Госуслуги</h4>
        </div>
        <div class="b--light-gray br2 pa3 shadow-4 mr1 tc pointer pay-item">
          <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.54 13.894A3.369 3.369 0 0014 17.159V26.2c0 2.612 0 3.918.476 4.929A5 5 0 0016 33v1.5a1.5 1.5 0 001.5 1.5h1a1.5 1.5 0 001.5-1.5v-.508c.523.008 1.117.008 1.8.008h4.4c.683 0 1.277 0 1.8-.008v.508a1.5 1.5 0 001.5 1.5h1a1.5 1.5 0 001.5-1.5V33a5 5 0 001.524-1.871C34 30.118 34 28.812 34 26.2v-9.04a3.369 3.369 0 00-2.54-3.266 30.321 30.321 0 00-14.92 0zm-.46 3.716c-.08.187-.08.425-.08.9v4.98c0 .475 0 .713.08.9a1 1 0 00.53.53c.187.08.425.08.9.08h12.98c.475 0 .713 0 .9-.08a1 1 0 00.53-.53c.08-.187.08-.425.08-.9v-4.98c0-.475 0-.713-.08-.9a1 1 0 00-.53-.53c-.187-.08-.425-.08-.9-.08H17.51c-.475 0-.713 0-.9.08a1 1 0 00-.53.53zM18.5 31a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM31 29.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" fill="currentColor"></path></svg>
          <h4 class="fw4 ma0">Транспорт</h4>
        </div>
      </div>
    </div>
    <div class="w-50 pl4 mb6">
      <div class="card-container">
        <div class="card card-small ml0" (click)="selection.value = 'component'" tabindex="0">
          <span>Карта 1</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
          <span>Карта 2</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
          <span>Карта 3</span>
        </div>
      </div>

      <div [ngSwitch]="selection.value">
        <div *ngSwitchDefault class="shadow-4 pa4 br2 w-60 navy fw4 tl f6">
          <p class="d mb2">Номер карты: 0000 **** **** 0123</p>
          <p class="d mb2">Тип карты: Дебетовая</p>
          <p>Состояние счёта: 20 000.00 ₽</p>
        </div>
        <div *ngSwitchCase="'material'" class="shadow-4 pa4 br2 w-60 navy fw4 tl f6">
          <p class="d mb2">Номер карты: 0000 **** **** 4567</p>
          <p class="d mb2">Тип карты: Кредитная</p>
          <p>Состояние счёта: 112 161.11 ₽</p>
        </div>
        <div *ngSwitchCase="'pwa'" class="shadow-4 pa4 br2 w-60 navy fw4 tl f6">
          <p class="d mb2">Номер карты: 0000 **** **** 8901</p>
          <p class="d mb2">Тип карты: Дебетовая с преимуществами</p>
          <p>Состояние счёта: 2.22 ₽</p>
        </div>
      </div>
    </div>
  </div>
</div>

